/* General Styling */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    135deg,
    #baafc9,
    #a3cab9
  ); /* Muted purple to green gradient */
}

/* Header Styling */
header {
  position: sticky;
  z-index: 1000;
  background-color: #c3d8cf; /* Background color to avoid transparency */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo {
  height: 80px;
  width: auto;
}

/* Menu Styling */
nav {
  display: flex;
  gap: 10px;
}

h1 {
  font-size: 1.6em;
  text-align: center;
  color: #6c5b7b; /* Soft purple */
}

#menu-container {
  padding: 2rem;
  min-height: 70vh;
  background-color: #f9f9f9; /* Light grayish white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 1200px;
}

/* Menu Section */
.menu-section {
  margin-bottom: 1rem;
  border: 1px solid #8e7cc3; /* Muted purple */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.menu-header {
  background-color: #6c5b7b; /* Soft purple */
  color: #fff;
  padding: 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.menu-header:hover {
  background-color: #7e6296;
  /* Muted purple for hover */
}

.menu-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  color: #333;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.menu-body.collapsed {
  max-height: 0;
}

.menu-body:not(.collapsed) {
  max-height: fit-content;
}

/* Icon Styling */
.icon {
  font-size: 0.8rem;
  transition: transform 0.3s ease;
}

.icon.expanded {
  transform: rotate(90deg); /* Rotate when expanded */
}

/* Content Area */
main {
  padding: 2rem;
  background: #f9f9f9; /* Light grayish white for content area */
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}

/* Buttons for Other Sections */
button {
  width: 100%;
  padding: 12px;
  background: #105e3c;
  color: #fff;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background: #17704a; /* Muted green for hover */
  box-shadow: #8e7cc3; /* Green shadow */
}

button:active {
  background: #8e7cc3; /* Darker muted purple */
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  padding-bottom: 60px;
}

input,
select,
textarea {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  margin-left: 20px;
  height: auto;
}
